<h2><%= @page_header %></h2>

<a href="/videos/new" class="add">Add a meme video</a>
<br>

<% @memes.each do |video| %>

<h3><%= video.title %></h3>
<p> <%= video.description %></p>
<p>(Genre: <%= video.genre %>)</p>
<a href="/videos/<%= video.id %>" class="link">Watch/Edit Video</a>

<% end %>